<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/nav.ejs %>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<div class="container-fluid main">
				<h1>Product Listing</h1>
				<div class="row displayArea">
					<div class="col-sm">
						<img src="<%=product.img%>" class="img-fluid imgMedium"></br>
					</div>
					<div class="col-sm showDescription">
						<h3><%=product.item%></h3>
						<h6>by <i><% for (let i=0; i< product.shop.length; i++ ) { %> 
							<%=product.shop[i].shopName %>
						<% } %></i></h6>
						<p><%=product.description%></p>
						<p>$<%=product.price%></p>


						<div class="buttonContainer">
							<!-- Edit button -->					
							<form action="/products/<%=product._id%>/edit">
								<input type="submit" class="form-control btn-custom" value="Edit"/>
							</form>
							<!-- Delete button -->
                			<form action="/products/<%=product._id%>?_method=DELETE" method="post">
                    			<input type="submit" class="form-control btn-custom" value="DELETE"/>
							</form>
						</div>

					</div>
				</div>
		</div>
	</body>
	<nav>
			<a href="/">Home</a>
			<a href="/products">Back to Product listings</a>
	</nav>
</html>